<h3 style= "margin-left:500px">Anatomical Structures Data</h3>
<div>
  <p style="border: 1px solid black; padding: 6px; width: 300px;">{{this.service.resultArr[0]}}</p>
  <p style="border: 1px solid black; padding: 14px; width: 284px;">{{this.service.resultArr[1]}}</p>
  <p style="border: 1px solid black; padding: 6px; width: 300px; margin-top: 65px">{{this.service.resultArr[2]}}</p>
  <p style="border: 1px solid black; padding: 6px; width: 300px;">{{this.service.resultArr[3]}}</p>
  <p style="border: 1px solid black; padding: 6px; width: 300px; margin-top: 65px">{{this.service.resultArr[4]}}</p>
  <p style="border: 1px solid black; padding: 6px; width: 300px;">{{this.service.resultArr[5]}}</p>
  <p style="border: 1px solid black; padding: 6px; width: 300px; margin-top: 65px">{{this.service.resultArr[6]}}</p>
  <p style="border: 1px solid black; padding: 6px; width: 300px;">{{this.service.resultArr[7]}}</p>
  <p style="border: 1px solid black; padding: 6px; width: 300px; margin-top: 65px" >{{this.service.resultArr[8]}}</p>
  <p style="border: 1px solid black; padding: 6px; width: 300px;">{{this.service.resultArr[9]}}</p>
  <p style="border: 1px solid black; padding: 6px; width: 300px; float: right; margin-top: -675px">{{this.service.resultArr[10]}}</p>
  <p style="border: 1px solid black; padding: 6px; width: 300px; float: right; margin-top: -629px">{{this.service.resultArr[11]}}</p>
  <p style="border: 1px solid black; padding: 6px; width: 300px; float: right; margin-top: -539px">{{this.service.resultArr[12]}}</p>
  <p style="border: 1px solid black; padding: 6px; width: 300px; float: right; margin-top: -494px">{{this.service.resultArr[13]}}</p>
  <p style="border: 1px solid black; padding: 6px; width: 300px; float: right; margin-top: -397px">{{this.service.resultArr[14]}}</p>
  <p style="border: 1px solid black; padding: 6px; width: 300px; float: right; margin-top: -353px">{{this.service.resultArr[15]}}</p>
  <p style="border: 1px solid black; padding: 6px; width: 300px; float: right; margin-top: -247px">{{this.service.resultArr[16]}}</p>
  <p style="border: 1px solid black; padding: 6px; width: 300px; float: right; margin-top: -200px">{{this.service.resultArr[17]}}</p>
</div>



